<!DOCTYPE html>
<html>

<head>
  <title> SQL Injection Example </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <%- include('./partials/navbar.ejs', {user: user}) %>
    <div class="container-fluid mt-5">
      <h2 class="p-3 text-center">Browse our Products!</h2>
      <div class="list-group">
        <div class="row px-3 py-1 w-120">
          <span class="col py-2 bg-noroff"><h2>Name</h2></span>
          <span class="col py-2 bg-noroff"><h2>Description</h2></span>
          <span class="col py-2 bg-noroff"><h2>Options</h2></span>
        </div>
        <% products.forEach(function(product) { %>
          <div class="row px-3 py-1 w-120">
            <span class="col py-1 bg-light">
              <%=product.Name%>
            </span>
            <span class="col py-1 bg-light">
              <%=product.Description%>
            </span>
            <span class="col py-1 bg-light text-right">
              <% if (user) { %>
                <form action="/products/<%= product.id %>" method="get">
                  <button class="btn-sm btn-success" type="submit">Product Details</button>
                </form>
              <% } else { %>
                <p>Log in to view product details.</p>
              <% } %>
            </span>
          </div>
          <% }); %>
            <hr>
      </div>
    </div>
</body>

</html>
